.mr-2{
    margin-right: 2rem;
}
.mr-1{
    margin-right: 1rem;
}
.mr-3{
    margin-right: 3rem;
}
.mr-4{
    margin-right: 4rem;
}
.deep-red{
    background-color: rgb(216, 20, 62);
}
.deep-green{
    background-color: rgb(0, 121, 60);
}
